body{
    font-family: sans-serif;
}
nav{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > h1{
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}
.links > a{
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    color: black;
}
.links > a:hover{
    text-decoration: underline;
    color: black;
}
 button{
    padding: 10px 17px;
    color: white;
    border: none;
    background-color: red;
}
 button:hover{
    background-color: hotpink;
}
.burger{
    display: none;
}
.burger > div{
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: black;
}
.square{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}   
.square > span{
    margin-bottom: -2px;
}
.container{
    display: flex;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 5%;
    width: 75%;
    min-height: 500px;
}
.info{
    width: 50%;
    height: 100%;
}
.info > h1,big-parag{
    font-size: 35px;
}
.big-parag{
    font-size: 35px;
}
.picture{
    width: 50%;
    height: 750px;
    background-image:url(img/photo-94.jpg);
    background-size: cover;
}
@media(max-width:900px) { .links{
    display: none;
} 
.burger{
    display: inline;
}
    .container {
        flex-direction: column;
    }
    .info{
        width: 95%;
        margin-bottom: 30px;
    }
    .picture{
        width: 100%;
    }
}
    

